/*
    2018 (c) Rene 'Katana Steel' Kjellerup, distributed under the terms of
    the GNU General Public Licenses version 3 or later for details see:
    http://www.gnu.org/licenses/gpl.html
*/
#include "resources.h"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_VERSION        "TestStringLoader: 1.0"
    IDS_APPNAME        "StingLoader TestResource dynamic Sharable Object"
    IDS_CHAPTER_ONE    "Chapter One: The lost souls."
    IDS_CHAPTER_TWO    "Chapter Two: Once again through the Darkness."
END
